<?xml version="1.0" encoding="UTF-8"?>
<Settings>
    <ApplicationSettings>
        <!--com.sun.java.swing.plaf.windows.WindowsLookAndFeel-->
        <!--javax.swing.plaf.nimbus.NimbusLookAndFeel-->
        <!--com.sun.java.swing.plaf.motif.MotifLookAndFeel-->
        <LookAndFeel>javax.swing.plaf.nimbus.NimbusLookAndFeel</LookAndFeel>
        <Language>English.xml</Language>
    </ApplicationSettings>
</Settings>